<footer class="row bg-light">
  <nav class="col flex-column flex-sm-row nav py-2">
    <span class="nav-link">&copy; Books on a Rock</span>
    <a class="nav-link text-secondary" href="../about">About</a>
    <a class="nav-link text-secondary" href="../contact">Contact</a>
  </nav>
</footer>
