<header class="row">
  <nav class="col navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand pl-md-3" href="/">Books on a Rock</a>
    <button class="navbar-toggler mr-md-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto pr-md-3">
        <li class="nav-item pl-md-3">
          <a class="nav-link" href="/books">Books</a>
        </li>
        <li class="nav-item pl-md-3">
          <a class="nav-link" href="/authors">Authors</a>
        </li>
      </ul>
      <% if (loggedIn) { %>
      <form method="post" action="/user/logout" class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
      </form>
      <% } else { %>
        <form method="get" action="/user" class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      <% } %>
    </div>
  </nav>
</header>
