<% include layout/header.ejs %>
<body>
  <div class="container-fluid">
    <% include layout/navbar.ejs %>

    <main class="row">
      <img class="mx-auto img-fluid" src="/assets/images/404-drib.gif" alt="Page not found">
    </main>

    <% include layout/footer.ejs %>
  </div>
</body>
</html>
