<% include layout/header.ejs %>
<body>
  <div class="container-fluid">
    <% include layout/navbar.ejs %>

    <section class="row space-top">
    </section>

    <main class="row">
        <div class="col-sm-8">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title"><%= author.author_id %></h5>
              <p class="card-text"><%- author.description %></p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="<%= author.image_url %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= author.name %></h5>
              <% if (author.born) %> <p class="card-text">Goodreads Id<%= author.goodreads_id %></p>
              <% if (author.born) %> <p class="card-text"><%= author.born %></p>
              <% if (author.died) %> <p class="card-text"><%= author.died %></p>
              <% if (author.website) %> <p class="card-text"><%= author.website %></p>
              <% if (author.twitter) %> <p class="card-text"><%= author.twitter %></p>
              <a href="<%= author.goodreads_url %>" class="btn btn-primary">Checkout on Goodreads</a>
            </div>
            <ul class="list-group list-group-flush">
              <% books.forEach((book) => { %>
              <li class="list-group-item"><a href="/books/<%= book.id %>"><%= book.title %></a></li>
              <% }) %>
            </ul>
          </div>
        </div>
    </main>

    <% include layout/footer.ejs %>
  </div>
</body>
</html>
