<% include layout/header.ejs %>
<body>
  <div class="container-fluid">
    <% include layout/navbar.ejs %>

    <section class="row space-top">
    </section>

    <main class="row">
      <div class="card-columns p-4">
        <% authors.forEach((author) => { %>
          <div class="card">
            <a href="authors/<%= author.author_id %>"><img class="img-fluid card-image d-flex mx-auto" src="<%= author.image_url %>" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title border-bottom pb-2"><%= author.name %></h5>
              <p class="card-text"><%- author.description _%></p>
              <p class="card-text">Books by this author <%= author.author_id %></p>
              <ul class="list-group list-group-flush">

                <li class="list-group-item"><a href="#"></a></li>
              </ul>
            </div>
          </div>
        <% }); %>
      </div>
    </main>

    <% include layout/footer.ejs %>
  </div>
</body>
</html>
