<% include layout/header.ejs %>
<body>
  <div class="container-fluid">
    <% include layout/navbar.ejs %>

    <section class="row space-top">
    </section>

    <main class="row">

        <div class="col-sm-8">
          <div class="card border-0">
            <div class="card-body">
              <h5 class="card-title"><%= book.book_id %></h5>
              <p class="card-text"><%- book.description %></p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <% if (book.reviews) %>
            <div class="ml-5">
              <%- book.reviews %>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card border-0">
            <img class="img-fluid small-image d-flex mx-auto" src="<%= book.image_url %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= book.title %></h5>
              <p class="card-text"><%= book.published_year %></p>
              <% if (book.isbn) %>
              <a href="/books/isbn/<%= book.isbn %>" class="btn btn-primary">View Goodreads Reviews</a>
            </div>
          </div>
        </div>
    </main>

    <% include layout/footer.ejs %>
  </div>
</body>
</html>
