<% include layout/header.ejs %>
<body>
  <div class="container-fluid">
    <% include layout/navbar.ejs %>

    <section class="row mt-5 pt-4">
      <p class="px-4">Lorem Ipsum is simply.</p>
    </section>

    <main class="row px-2 py-md-4 px-md-5">
      <div class="card-columns">
        <% books.forEach((book) => { %>
          <div class="card">
            <a href="books/<%= book.book_id %>"><img class="img-fluid card-image d-flex mx-auto" src="<%= book.image_url %>" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title"><%= book.title %></h5>
              <p class="card-text">by <%= %></p>
              <p class="card-text border-bottom pb-2"><span class="text-success"><%= book.avg_rating %></span> avg rating</p>
              <p class="card-text"><%- book.description %></p>
              <p class="card-text">Critic Review</p>
              <blockquote class="blockquote mb-0">
                <p></p>
                <footer class="blockquote-footer">
                  <small>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>
        <% }) %>
      </div>
    </main>

    <% include layout/footer.ejs %>
  </div>
</body>
</html>
