<% include layout/header.ejs %>
<body>
  <div class="container-fluid">
    <% include layout/navbar.ejs %>

    <section class="row space-top bg-light">
      <h1 class="display-4 mx-auto">Awesome Books to read</h1>
    </section>

    <main class="row bg-light">
      <div id="carouselExampleControls" class="col carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% const first = books.shift(); %>
          <div class="carousel-item active">
            <a href="books/<%= first.book_id %>"><img class="img-fluid d-flex mx-auto home-img" src="<%= first.image_url %>"></a>
            <div class="d-block mt-3">
              <h5 class="py-3 text-center border-bottom"><%= first.title %></h5>
              <p class="px-5 pt-3 text-justify text-secondary"><%- first.description %></p>
            </div>
            <!--<img class="d-block w-100" src=".../800x400?auto=yes&bg=777&fg=555&text=First slide" alt="First slide">-->
          </div>
          <% books.forEach((book) => { %>
          <div class="carousel-item">
            <a href="books/<%= book.book_id %>"><img class="img-fluid d-flex mx-auto home-img" src="<%= book.image_url %>"></a>
            <div class="d-block mt-3">
              <h5 class="py-3 text-center border-bottom"><%= book.title %></h5>
              <p class="px-5 pt-3 text-justify text-secondary"><%- book.description %></p>
            </div>
            <!--<img class="d-block w-100" src=".../800x400?auto=yes&bg=777&fg=555&text=First slide" alt="First slide">-->
          </div>
          <% }) %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </main>

    <% include layout/footer.ejs %>
  </div>
</body>
</html>
