<% include layout/header.ejs %>
<body>
  <div class="container-fluid">
    <% include layout/navbar.ejs %>

    <main>
      <form method="post" class="space-top mb-3 needs-validation">
        <div class="form-group">
          <label for="username">Username</label>
          <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
      </form>

      <p>Don't have and account yet? <a href="/user/signup">Sign Up!</a><p>
      <% if (message) { %>
      <div class="row mx-3 border border-danger">
        <div class="text-center mx-auto">
          <p class="py-3"><%= message %></p>
        </div>
      </div>
      <% } %>
    </main>

    <% include layout/footer.ejs %>
  </div>
</body>
</html>
