<% include layout/header.ejs %>
<body>
  <div class="container-fluid">
    <% include layout/navbar.ejs %>

    <main>
      <form method="post" class="space-top mb-3 needs-validation">
        <div class="form-group">
          <label for="username">Username</label>
          <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
          <small id="emailHelp" class="form-text text-muted">Password must contain atleast 6 characters</small>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>

      <% if (success) { %>
      <div class="row mx-3">
        <div class="text-center mx-auto">
          <h3 class="pt-3"><%= message.title %></h3>
          <p class="pb-3"><%= message.body %></p>
        </div>
      </div>
      <% } %>
    </main>

    <% include layout/footer.ejs %>
  </div>
</body>
</html>
