.red-box {
  border: 1px solid red;
}

.green-box {
  border: 1px solid green;
}

.space-top {
  padding-top: 65px;
}

.home-img {
  max-height: 500px;
}

.small-image: {
  max-height: 350px;
}

.card-image {
  max-height: 300px;
}

.background-red {
  background-color: red;
}
